* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --font-Sen: var("Sen", sans-serif);
  --font-Pop: var("Poppins", sans-serif);
}
/* khoi phuc lai co chu mac dinh */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.breakall {
  word-break: break-all;
}
/*------------------------common----------------------- */
a {
  text-decoration: none;
}
.header {
  background-color: #fffcf4;
  top: -28px;
}
.header.fixed {
  position: sticky;
  z-index: 999;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  letter-spacing: 0%;
  /* background-color: blue; */
  padding: 8px 21px;
  transition: 1s border-bottom;
}
.nav a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
  border-radius: 1px;
  transition: 0.5s width;
}
.nav a:hover::after {
  width: 60px;
}
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.btn {
  min-width: 118px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 24.5px;
  padding: 0px 16px;
  color: white;
  background-color: #171100;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero_sumary .item {
  display: flex;
  align-items: center;
  width: 183;
  height: 56;
}
.hero .hero_sumary .item + .item {
  margin-top: 22px;
}
.hero_sumary .item .info {
  margin-left: 16px;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero_sumary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  left: 300px;
  bottom: 48px;
  background: #ffffff;
  box-shadow: 0 16px 32px #0000000d;
  width: 270px;
  border-radius: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 24px;
}
.hero_sumary .number_course {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0%;
}
.hero .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.666666666666667;
}
.hero .content-block {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
  padding-left: 30px;
}
.hero .content-block .heading {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 58px;
  line-height: 1.17;
  letter-spacing: -2%;
}
.hero .content-block .desc {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  color: #5f5b53;
}

.hero .cta-group .btn {
  background-color: #ffb900;
  font-size: 18px;
  width: 180px;
  line-height: 64px;
  border-radius: 32px;
  margin-right: 28px;
}
.hero .content-block .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fffcf4;
  cursor: pointer;
}
.hero .content-block .watch-video .icon {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin-right: 14px;
  box-shadow: 0 16px 32px #0000000d;
}
.hero .content-block .watch-video span {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6667;
}
.hero .media-block .img {
  border-radius: 20px;
  width: 470px;
  height: 685px;
  object-fit: cover;
}
.hero .cta-group {
  display: flex;
  align-items: center;
}
.hero .hero_sumary .icon {
  display: flex;
  align-items: center;
}
.hero .content-block .desc strong {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
  color: #171100;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .stats {
  margin-top: -63px;
}
/*=============================================POPULAR========================================  */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.top {
  display: flex;
}
.top .heading {
  width: 458px;
  height: 124px;
}
.top .heading h1 {
  font-family: var(--font-Sen);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 4.5rem;
  letter-spacing: -2%;
}
.top .heading .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.top .move {
  align-self: center;
  margin-left: auto;
  display: flex;
  flex: 0 1;
  flex-wrap: nowrap;
  gap: 18px;
}
.top .move_button {
  font: size 2.5rem;
  color: #ffb900;
  opacity: 1;
  border: 1px solid #ffb900;
  width: 40px;
  height: 40px;
  display: flex; /* để căn icon/text vào giữa */
  justify-content: center;
  align-items: center;
  text-decoration: none; /* màu chữ */
  border-radius: 50%;
}
.top .move_button:hover {
  background-color: #ffb900;
  color: #fff;
}
.popular .course-items .info {
  padding: 16px 22px 22px;
}
.popular .courses-list {
  margin-top: 55px;
  display: flex;
  border-radius: 12px;
  gap: 30px;
}
.courses-list .course-items {
  flex: 1;
  width: 370px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background-color: #fff;
}
.courses-list .course-items:hover {
  box-shadow: 0px 18px 36px 0px #0000000d;
  border: none;
}
.courses-list .course-items .thumb {
  height: 278px;
  object-fit: cover;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.courses-list .course-items .bottom,
.course-items .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-list .course-items .heading .title,
.courses-list .course-items .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  letter-spacing: 0%;
}
.courses-list .course-items .desc {
  margin-top: 6px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #5f5b53;
}
.btn .btn-book {
  border-radius: 25px;
  font-size: 14rem;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.courses-list .course-items .bottom .btn-book:hover {
  background-color: #ffb900;
  opacity: 1;
}
.course-items .heading .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  line-height: 1.75;
}
.course-items .heading .rating .vale {
  font-weight: 400;
  font-size: 16px;
}
/* ===================================feedback========================================== */
.user-quote {
  margin-top: 135px;
  background-color: #2e2100;
  padding: 96px 0;
}
.user-quote .body {
  display: flex;
  background-color: #2e2100;
}
.user-quote .body .right-col {
  width: 66%;
}
.user-quote .body .right-col blockquote {
  font-weight: 400;
  font-style: Italic;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #fff;
  margin-left: 30px;
}

.user-quote .body .lelf-col .ava img {
  border-radius: 50%;
  object-fit: cover;
  width: 72px;
  height: 72px;
}
.user-quote .body .lelf-col .name {
  font-family: var(--font-Sen);
  font-weight: 700;
  font-style: Bold;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
  margin-top: 18px;
}
.user-quote .body .lelf-col {
  margin-right: 240px;
}
.user-quote .body .lelf-col .desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  margin-top: 4px;
}
.user-quote .dot_group {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}
.user-quote .dot {
  height: 6px;
  width: 6px;
  background-color: #634700;
  border-radius: 50%;
  cursor: pointer;
}
.user-quote .dot.active {
  background-color: #ffb900;
  cursor: default;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-list .body {
  flex: 0 0 100%; /* mỗi item đúng 100% chiều ngang */
}
/* ======================================= FEATURE============================================= */
.feature {
  margin-top: 135px;
  padding: 65px 0;
}
.feature .body_feature .img img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.feature .body_feature .img_1 img {
  margin-top: 34px;
}
.feature .body_feature {
  display: flex;
}
.feature .body_feature .left-col {
  display: flex;
  gap: 28px;
}
.feature .body_feature .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
}
.feature .body_feature .right-col .heading {
  font-family: var(--font-Sen);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -2%;
  margin-bottom: 15px;
}

.feature .body_feature .right-col .block-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #5f5b53;
}
.feature .body_feature .right-col .block-content p:first-child {
  margin-bottom: 15px;
}
.feature .body_feature .right-col .btn-sign-up-2 {
  margin-top: 30px;
  color: #fff;
  background-color: #ffb900;
  width: 137px;
  text-align: center;
}

/* ======================================= FEATURE NUMBER 2============================================= */
.feature_number_2 .body_feature .img img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 16px;
}
.feature_number_2 .body_feature {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.feature_number_2 {
  margin-top: 70px;
  padding: 65px 0;
}
.feature_number_2 .body_feature .left-col {
  display: flex;
  gap: 28px;
}
.feature_number_2 .body_feature .right-col {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature_number_2 .body_feature .right-col .heading {
  font-family: var(--font-Sen);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -2%;
  margin-bottom: 15px;
}

.feature_number_2 .body_feature .right-col .block-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #5f5b53;
}
.feature_number_2 .body_feature .right-col .btn-sign-up-2 {
  margin-top: 30px;
  color: #fff;
  background-color: #ffb900;
  width: 137px;
  text-align: center;
}
/* ==============================BLOG=============================== */
.blog {
  padding: 50px 0;
  margin-top: 135px;
  background-color: #fffcf4;
}
.blog .body_blog .top {
  display: flex;
  text-align: center;
  justify-content: center;
}
.blog .body_blog .course-items .thumb {
  height: 250px;
}
.blog .body_blog .courses-list {
  height: 467px;
}
.blog .body_blog .top .heading h1 {
  font-family: var(--font-Sen);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 4.5rem;
  letter-spacing: -2%;
}
.blog .body_blog .top .heading .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}

.blog .body_blog .courses-list .course-items .info {
  padding: 16px 22px 22px;
}
.blog .body_blog .courses-list {
  margin-top: 55px;
  display: flex;
  border-radius: 12px;
  gap: 30px;
}
.blog .body_blog .course-items .desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #171100;
  margin-top: 10px;
}
.blog .body_blog .course-items .heading .date {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  position: relative;
  padding-bottom: 12px;
  display: inline-flex;
  align-items: center;
}
.blog .body_blog .course-items .btn .btn-book {
  margin-top: 10px;
}
.blog .body_blog .course-items .heading .date::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffb900;
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
}
.blog .body_blog .course-items .heading .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  width: 160px;
}
.blog .body_blog .dot_group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
  gap: 6px;
}
.blog .body_blog .dot_group .dot {
  width: 6px;
  height: 6px;
  background-color: #5f5b53;
  border-radius: 50%;
}
.blog .body_blog .dot_group .dot:active {
  background-color: #ffb900;
}

/* ========================FOOTER======================== */

footer .top {
  padding: 96px 0px 38px;
}
footer {
  background-color: #2e2100;
}
footer .top .column {
  max-width: 250px;
}
footer .top .column_1 .icon_brand {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}
footer .top .column_1 img {
  margin-bottom: 20px;
}
footer .top .column_1 .desc,
footer .top .column_2 .component .info,
footer .top .column_3 .component .info {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
}
footer .top .column_2 .component .info,
footer .top .column_3 .component .info{
  display: inline-block;
  margin-bottom: 12px;
}
footer .top .heading .content-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  height: 44px;
  border-bottom: 1px solid #59554b;
  width: 130px;
}
footer .top .heading {
  height: 70px;
}
footer .top .column_1 {
  width: 35%;
}
footer .top .column_1 .desc {
  max-width: 267px;
}
footer .top .column_3 .component strong {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #fff;
}
footer .footer_bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  padding: 28px 0px;
  border-top: 1px solid #59554B;
  color: #807D74;
}
footer .top .column_2 .component li:last-child a,
footer .top .column_3  li:last-child a{
  margin-bottom: 0px;
}